* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#formDivison {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

form {
    border: 2px solid gray;
    color: white;
    box-shadow: 0px 0px 10px 10px rgb(255, 255, 255, 0.5);
}