* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
}

main {
  width: 100%;
  display: flex;
}

#chatPanel {
  display: flex;
  flex-direction: column;
}

#chatPanel .node {
  height: 6.5em;
  width: 15em;
  display: flex;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 10px 1em 10px 10px;
  color: white;
  text-decoration: none;
}

#chatPanel .node:hover {
  background-color: rgb(0, 0, 0, 0.2);
  transition: background 0.3s, border 0.3s;
  border-radius: 10px;
}

#messagePanel {
  border-left: 1px solid white;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh;
  display: 100%;
  overflow-y: auto;
}

#messagePanel .infoBox {
  background-color: rgba(10, 10, 10, 0.519);
  display: flex;
  display: 100%;
  gap: 20px;
  padding-left: 2em;
  height: 10%;
}

#messagePanel .infoBox .nameBox {
  padding-top: 0.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#messagePanel .textAreaMessages {
  height: 83%;
  display: block;
  overflow-y: auto;
}

#messagePanel .textAreaMessages .sender {
  display: flex;
  color: darkslategray;
  flex: 1;
  justify-content: flex-end;
  padding: 1em 1em 0 0;
}

#messagePanel .textAreaMessages .sender .senderBoxSentMessage {
  display: flex;
  width: fit-content;
  block-size: fit-content;
  padding: 1em 1em 0 1em;
  background-color: white;
  border-radius: 25px;
}

#messagePanel .textAreaMessages .sender .senderBoxName {
  display: flex;
  justify-content: flex-end;
  padding-right: 1em;
}

#messagePanel .textAreaMessages .contact {
  display: flex;
  color: white;
  flex: 1;
  justify-content: flex-start;
  padding-top: 1em;
  padding-left: 1em;
}

#messagePanel .textAreaMessages .contact .contactBoxSentMessage {
  background-color: #303030;
  padding: 12px 20px 1px 20px;
  border-radius: 25px;
}

.messageBox {
  
  display: flex;
  flex: 1;
  width: 100%;
  height: 10%;
}

.messageBox input[type="text"] {
  background-color: rgba(0, 0, 0, 0.393);
  height: 100%;
  width: 100%;
  color: white;
  padding-left: 10px;
  outline: none;
  border: none;
  border-top: 1px solid white;
}

.messageBox #sendButton {
  padding: 15px;
  background-color: #1e1f20;
}

.messageBox #sendButton:active {
  background-color: #f3f3f3;
  border-color: #1e1f20;
}

